<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.podkaifom.vkclient" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:logo="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden" >
        <activity android:name="com.vkclient.activities.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vkclient.activities.ClientActivity"
            android:logo="@mipmap/ic_launcher"
            android:label="@string/title_activity_client">
        </activity>
        <activity android:name="com.vkclient.activities.ProfileActivity" android:label="@string/title_activity_profile">
        </activity>
        <activity
            android:name="com.vkclient.activities.FriendsListActivity"
            android:label="@string/title_activity_friends_list"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.vkclient.activities.SendMessageActivity"
            android:label="@string/title_activity_send_message" >
        </activity>
        <activity
            android:name="com.vkclient.activities.WallPostActivity"
            android:label="@string/title_activity_wall_post" >
        </activity>
        <activity
            android:name="com.vkclient.activities.DialogsActivity"
            android:label="@string/title_activity_dialogs" >
        </activity>
        <activity
            android:name="com.vkclient.activities.SingleDialogActivity"
            android:label="@string/title_activity_single_dialog"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.vkclient.activities.PhotoViewActivity"
            android:label="@string/title_activity_photo_view" >
        </activity>
        <activity
            android:name="com.vkclient.activities.NewsActivity"
            android:label="@string/title_activity_news" >
        </activity>
    </application>

</manifest>
